---
# Deliberately still legacy (no successor kind): CAs/tokens, machine.install,
# time servers.
version: v1alpha1
machine:
  ca:
    crt: ref+op://kubernetes/talos/MACHINE_CA_CRT
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    rbac: true
  install:
    image: factory.talos.dev/metal-installer/{{ schematic }}:v1.14.0-rc.2
    wipe: false
    grubUseUKICmdline: true
  time:
    servers:
      - 162.159.200.1
      - 162.159.200.123
  token: ref+op://kubernetes/talos/MACHINE_TOKEN
cluster:
  ca:
    crt: ref+op://kubernetes/talos/CLUSTER_CA_CRT
  clusterName: matalos
  controlPlane:
    endpoint: https://matalos.internal:6443
  token: ref+op://kubernetes/talos/CLUSTER_TOKEN
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.70
vlanID: 70
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.90
vlanID: 90
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 192.168.1.2
  - address: 192.168.20.2
searchDomains:
  disableDefault: true
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true
  resolveMemberNames: true
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: DiscoveryIdentityConfig
clusterID: ref+op://kubernetes/talos/CLUSTER_ID
clusterSecret: ref+op://kubernetes/talos/CLUSTER_SECRET
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.model == "Corsair MP600 MINI" && !system_disk
  minSize: 1TB
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: FilesystemScrubConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: nvme_tcp
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: vfio_pci
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: uio_pci_generic
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_instances: "8192"
  fs.inotify.max_user_watches: "1048576"
  net.core.default_qdisc: fq
  net.core.rmem_max: "67108864"
  net.core.wmem_max: "67108864"
  net.ipv4.neigh.default.gc_thresh1: "4096"
  net.ipv4.neigh.default.gc_thresh2: "8192"
  net.ipv4.neigh.default.gc_thresh3: "16384"
  net.ipv4.ping_group_range: 0 2147483647
  net.ipv4.tcp_congestion_control: bbr
  net.ipv4.tcp_fastopen: "3"
  net.ipv4.tcp_mtu_probing: "1"
  net.ipv4.tcp_notsent_lowat: "131072"
  net.ipv4.tcp_rmem: 4096 87380 33554432
  net.ipv4.tcp_slow_start_after_idle: "0"
  net.ipv4.tcp_window_scaling: "1"
  net.ipv4.tcp_wmem: 4096 65536 33554432
  sunrpc.tcp_max_slot_table_entries: "128"
  sunrpc.tcp_slot_table_entries: "128"
  user.max_user_namespaces: "11255"
  vm.dirty_writeback_centisecs: "3000"
  vm.nr_hugepages: "1024"
---
apiVersion: v1alpha1
kind: EtcFileConfig
name: nfsmount.conf
mode: 0o644
contents: |
  [ NFSMount_Global_Options ]
  nfsvers=4.2
  hard=True
  nconnect=16
  noatime=True
  nodiratime=True
  rsize=1048576
  wsize=1048576
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: containerd
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets:
    - 192.168.20.0/24
---
apiVersion: v1alpha1
kind: KubeletConfig
config:
  crashLoopBackOff:
    maxContainerRestartPeriod: 60s
  imageGCHighThresholdPercent: 50
  imageGCLowThresholdPercent: 40
  imageMaximumGCAge: 168h
  maxParallelImagePulls: 3
  serializeImagePulls: false
defaultRuntimeSeccompProfileEnabled: true
image: ghcr.io/siderolabs/kubelet:v1.36.4
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  - 10.42.0.0/16
serviceSubnets:
  - 10.43.0.0/16
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
