---
# Shared (baremetal) schematic; the VM node carries a complete override in
# nodes/controlplane/matalos-c1.schematic.yaml.j2.
customization:
  extraKernelArgs:
    - -init_on_alloc                      # Less security, faster puter
    - -init_on_free                       # Less security, faster puter
    - -selinux                            # Less security, faster puter
    - apparmor=0                          # Less security, faster puter
    - init_on_alloc=0                     # Less security, faster puter
    - init_on_free=0                      # Less security, faster puter
    - intel_iommu=on                      # PCI Passthrough
    - iommu=pt                            # PCI Passthrough
    - pcie_aspm=off                       # Disable PCIe ASPM
    - mitigations=off                     # Less security, faster puter
    - security=none                       # Less security, faster puter
    - talos.auditd.disabled=1             # Less security, faster puter
    - talos.network.interface.ignore=eno1 # Shared BMC port: no early-boot DHCP
    - i915.enable_guc=3                   # Intel iGPU
    - sysctl.kernel.kexec_load_disabled=1 # Intel iGPU
    {% if iso == 'true' %}
    - bond=bond0:enp3s0,enp4s0:mode=802.3ad,xmit_hash_policy=layer3+4:9000
    - ip={{ node_ip }}::192.168.20.1:255.255.255.0::bond0
    {% endif %}
  systemExtensions:
    officialExtensions:
      - siderolabs/iscsi-tools            # iSCSI Support
      - siderolabs/util-linux-tools       # Useful Utilities
      - siderolabs/intel-ucode            # Intel CPU Microcode
      - siderolabs/nfsrahead              # NFS Performance
      - siderolabs/i915                   # Intel GPU
      - siderolabs/mei                    # Intel GPU
