{{/* dig tolerates HelmReleases without spec.values (e.g. prometheus-operator-crds) */}}
{{ dig "spec" "values" (dict) (fromYaml (readFile (printf "../../../kubernetes/apps/%s/%s/app/helmrelease.yaml" .Release.Namespace .Release.Name))) | toYaml }}
