---
# talos:node-ip=192.168.20.10
machine:
  install:
    diskSelector:
      model: INTEL SSDPE21D280GA
    # VM node: generic installer path, baremetal nodes use metal-installer (cluster.yaml.j2)
    image: factory.talos.dev/installer/{{ schematic }}:v1.14.0-rc.2
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: matalos-c1
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "bc:24:11:a7:7e:af"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: active-backup
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
